:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 50vh;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 10vh 0px;
  justify-content: center;
}

h1,
h2,
h3,
blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

header {
  margin-bottom: var(--spacing);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header h1 {
  background: var(--dark-bg);
  padding: 2% 5%;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section div{
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  padding: 2% 5%;
}

li {
  list-style-type: none;
}

a{
  text-decoration: none;
}

blockquote {
  margin-bottom: var(--spacing);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

blockquote p {
  color: black;
  background-color: white;
  padding: 2% 5%;
  font-size: 1.5rem;
}

.light{
  color: black;
  background-color: white;
  padding: 2% 5%;
  margin-bottom: var(--spacing);
}
